.Pagination{
    flex: 0 0 100%;
}
.Pagination ul{
    padding-left: 0;
}
.Pagination li{
    list-style-type: none;
    display: inline-block;
    border: 1px solid var(--grey);
    margin-left: 5px;
    padding: 5px 10px;
    color: var(--green);
}
.Pagination li:hover{
    background-color: var(--light-grey);
    cursor: pointer;
}
