.UserInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.UserInfo p {
  margin: 0;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
  background-size: cover;
  background-image: url("../../assets/images/smiley-cyrus.jpg");
}

.user {
  display: flex;
  align-items: center;
}

.info p {
  margin: 0 0 0 10px;
}

.info p:first-child {
  color: var(--green);
  font-weight: bold;
}
