.Tabs{

}
.Tabs ul{
    padding-left: 0;
}
.Tabs li{
    list-style-type: none;
    display: inline-block;
    margin-left: 5px;
    padding: 5px 10px;
    color: var(--dark-grey);
}
.Tabs li:hover{
    color: var(--black);
    cursor: pointer;
}
 .activeTab {
    color: var(--green)!important;
    border-bottom: 2px solid var(--green);
}
