.Comment{
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.text{
    padding: 15px 10px;
    border-bottom: 1px solid #ccc;
}
.user{
    padding: 15px 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
}
