.Comment {
  border: 1px solid var(--grey);
  border-radius: 5px;
  margin-top: 20px;
}

.text {
  padding: 15px 10px;
  border-bottom: 1px solid var(--grey);
}

.user {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  border-bottom: 1px solid var(--grey);
}
