.Tag{
    margin: 2px;
    padding: 0 5px 1px;
    border-radius: 11px;
    display: inline-block;
    font-size: 14px;
}
.Tag:hover{
    cursor: pointer;
}

.darkTag{
    background-color: var(--tag-bg);
    color: var(--white);
}
.darkTag:hover{
    background-color: var(--tag-dark-bg);
}

.liteTag{
    background-color: var(--white);
    border: 1px solid var(--grey);
    color: var(--grey);
}
