.ArticlePreview{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    border-top: 1px solid var(--grey);
    padding: 10px 0;
}

.rightSide{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.leftSide{
    max-width: 180px;
}
