.SignInForm{

}
.SignInForm input{
    display: block;
    width: 100%;
    margin-bottom: 25px;
    padding: 5px 8px;
    font-size: 1rem;
    line-height: 1.25;
    color: var(--dark-grey);
    background-color: var(--white);
    background-image: none;
    background-clip: padding-box;
    border: 1px solid var(--dark-grey);
    border-radius: 5px;
    box-sizing: border-box;
}
.error{
    color: var(--red)
}
.SignIn{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto 40px;
    text-align: center;
}
.SignIn p {
    color: var(--green);
}

